@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 250px;
    /* padding: 10px; */
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
}

header h1 {
    font-size: 5vw;
    /* color: rgb(246, 234, 10);
    text-shadow: 0.01px 0px rgb(255, 166, 0); */
    color: rgb(255, 242, 0);
    -webkit-text-stroke: 0.01px rgba(255, 166, 0, 0.7);
    text-shadow: 0.01px 0px rgb(255, 166, 0);
}

header nav {
    position: absolute;
    right: 0;
    /* bottom: 10px; */
    z-index: 1;
    top: 5.5vw;
}

nav a {
    background-color: rgb(54, 97, 214);
    /* color: aliceblue; */
    color: rgb(246, 234, 10);
    border: 1px solid black;
    padding: 1px 3px;
    margin-right: 1px;
    text-decoration: none;
}

/* Redondear las esquinas izquierdas del primer enlace */
nav a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Redondear las esquinas derechas del último enlace */
nav a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

header .banner {
    background-image: url(./design1_image1.jpg);
    background-size: cover;
    background-position: 0% 15%;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 0% 15%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* justify-content: space-between; */
    /* padding: 10px; */
}

.logo {
    width: 15%;
}

.info {
    width: 75%;
    /* background-color: aliceblue;
    border: 3px solid rgba(218, 165, 32, 0.355); */
    padding: 10px;
    margin: 10px;
}

h2 {
    border: 2px solid black;
    color: black;
    padding: 5px;
    text-align: center;
    width: 100%;
}

h4 {
    margin-bottom: 5px;
    padding-left: 15px;
}

p {
    margin-bottom: 10px;
    padding-left: 15px;
}

#logo {
    width: 100px;
}