@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 250px;
    /* padding: 10px; */
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
}

header h1 {
    font-size: 5vw;
    /* color: rgb(246, 234, 10);
    text-shadow: 0.01px 0px rgb(255, 166, 0); */
    color: rgb(255, 242, 0);
    -webkit-text-stroke: 0.01px rgba(255, 166, 0, 0.7);
    text-shadow: 0.01px 0px rgb(255, 166, 0);
}

header nav {
    position: absolute;
    right: 0;
    /* bottom: 10px; */
    z-index: 1;
    top: 5.5vw;
}

nav a {
    background-color: rgb(54, 97, 214);
    /* color: aliceblue; */
    color: rgb(246, 234, 10);
    border: 1px solid black;
    padding: 1px 3px;
    margin-right: 1px;
    text-decoration: none;
}

/* Redondear las esquinas izquierdas del primer enlace */
nav a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Redondear las esquinas derechas del último enlace */
nav a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

header .banner {
    background-image: url(./design1_image1.jpg);
    background-size: cover;
    background-position: 0% 15%;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 0% 15%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* justify-content: space-between; */
    /* padding: 10px; */
}

.logo {
    width: 15%;
}

.info {
    width: 75%;
    /* background-color: aliceblue;
    border: 3px solid rgba(218, 165, 32, 0.355); */
    padding: 10px;
    margin: 10px;
}

h2 {
    border: 2px solid black;
    color: black;
    padding: 5px;
    text-align: center;
    width: 100%;
}

h4 {
    margin-bottom: 5px;
    padding-left: 15px;
}

p {
    margin-bottom: 10px;
    padding-left: 15px;
}

#logo {
    width: 100px;
}
h3{
    text-align: center;
    font-size: 20px;
}

table {
    height: 50vh;
    width: 100%;
}

table, th, td {
    /* border: 1px solid; */
    text-align: center;
    color: darkblue;
}

th{
    background-color: darkblue;
    color: aliceblue;
}

td:hover{
    background-color: darkblue;
    /* color: aliceblue; */
    color: rgb(255, 242, 0);
}

tr:nth-child(odd){
    background-color: lightcyan;
    /* color: darkblue; */
}

.info .title{
    text-align: center;
}

dt, dd{
    margin: 20px;
}
dd {
    margin-left: 30px;
}

ul{
    list-style: circle;
    margin-left: 20px;
}

/* ******************* FORMULARIO ******************/

form {
    /* background-color: aliceblue; */
    padding: 10px;
    border-radius: 10px;
}

form fieldset {
    border: 1px solid darkblue;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

form span{
    display: block;
}

form legend {
    font-weight: bold;
}

form label{/*con display inblocks podia asimiliarlo al draft pero los casilleros quedan cortos*/
    /* display: inline-block; */
    display: flex;
    margin-bottom: 5px;
    flex-wrap: wrap;
    align-items: baseline;
}

form input[type="text"],
form input[type="date"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

form input[type="radio"],
form input[type="checkbox"] {
    /* margin-top: 5px;
    margin-right: 5px; */
    margin: 5px;
}

form p{
    margin-bottom: 20px;
    padding-left: 0;
}

form button {
    background-color: rgb(54, 97, 214);
    color: aliceblue;
    width: 100%;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: rgb(0, 3, 60);
}

footer{
    min-height: 5vh;
    background-color: rgb(0, 3, 60);
    color: aliceblue;
    display: flex;
    justify-content: center;
}

/**************************************/
/***********MEDIA QUERIES 425************************/
@media (max-width: 500px) {
    header {
        flex-direction: column;
        text-align: center;
        height: 150px;
    }

    header h1 {
        margin-block-start: 0.1em;
        font-size: 20px;
    }

    header #logo {
        width: 70px; /* Reducción del tamaño del logo */
        /* position: absolute; */
        /* right: 30px; */
        bottom: 0px; /* Ajuste para la nueva altura del logo */
        background-color: rgba(0, 0, 0, 0.575);
        border-radius: 30%;
        /* display: flex; */
    }

    .menu {
        /* width: 15%;
        padding: 5px;
        text-align: center; */
        /* background-color: aliceblue; */
        width: 100%;

        margin-top: 1px;
    }

    .menu nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1px 0;
        flex-direction: row;
    }

    .menu nav a {
        margin: 2px;
        padding: 2px 5px;
        /* background-color: darkblue; */
        background-color: aliceblue;
        color: blue;
        border-radius: 10px;
    }

    main .container{
        /* min-height: 60vh; */
        /* display: flex; */
        flex-direction: column;
    }

    form button {
        width: 100%;
    }

}