@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    box-sizing: border-box; /*cuando aplicamos un ancho o un alto adapta el contenido para respetar las dimensiones dadas y que no se escape del contenedor*/
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

h1,h2,a{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header h1{
    text-align: center;
    font-size: 7vw;
    -webkit-text-fill-color: rgb(246, 234, 10);
    -webkit-text-stroke: 0.01px rgb(255, 166, 0);
}

header .menu{
    position: relative;
    background-image: url(./design1_image1.jpg);
    background-size: cover;
    background-position: 0% 15%;
    height: 250px;
}

header nav{
    position: absolute;
    top: 6px;
    left: 40%;
    z-index: 1;
}

nav a{
    background-color: rgb(54, 97, 214);
    color: aliceblue;
    border: 1px solid black;
    padding: 5px 5px;
}

header .menu img{
    position: absolute;
    width : 100px;
    bottom: -17%;
}

main h2{
    background-color: black;
    color: aliceblue;
    padding: 5px;
    text-align: center;
}

main div{
    /* background-color: aliceblue; */
    /* border: 3px solid rgba(218, 165, 32, 0.355); */
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.game{
    width: 15%;
}

.info{
    width: 75%;
}

p{
    margin-bottom: 10px;
    padding-left: 15px;
}