@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*en lugar de solo afectar a los h1yh2, aplico fuente a todo el body*/
body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url(./design1_image1.jpg);
    background-size: cover;
    background-position: 0% 15%;
    height: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /*L37- necesario para mantener el LOGO en la parte inferior del banner */
}

header h1 {
    margin-block-start: -4em;
    /* -webkit-text-fill-color: rgb(246, 234, 10);
    -webkit-text-stroke: 0.01px rgb(255, 166, 0); */
    color: rgb(255, 242, 0);
    -webkit-text-stroke: 0.01px rgba(255, 166, 0, 0.7);
    text-shadow: 0.01px 0px rgb(255, 166, 0);
    font-size: 30px;
}

header #logo {
    width: 100px;
    position: absolute; /*L22 necesario para mantener el LOGO en la parte inferior del banner*/
    right: 20px;
    bottom: -43px;
}

main {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: flex-start;
    /* padding: 10px; */
}

.menu {
    width: 15%;
    background-color: rgb(0, 3, 60);
    padding: 5px;
    text-align: center;
}
/*dejo 5% vacio para que el texto no se vea hasta el final del contenedor */
.info {
    width: 80%;
    /* background-color: aliceblue;
    border: 3px solid rgba(218, 165, 32, 0.355); */
    padding: 5px;
    /* margin: 10px; */
}

.menu nav a {
    display: block;
    margin-bottom: 20px;
    color: aliceblue;
    text-decoration: none; /*para eliminar el subrayado de los enlaces */
}

h2 {
    background-color: black;
    color: aliceblue;
    padding: 5px;
    text-align: center;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

h4 {
    margin-bottom: 5px;
    padding-left: 15px;
}

p {
    margin-bottom: 10px;
    padding-left: 15px;
}