@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*en lugar de solo afectar a los h1yh2, aplico fuente a todo el body*/
body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url(./design1_image1.jpg);
    background-size: cover;
    background-position: 0% 15%;
    height: 250px;
    min-height: 20vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /*L37- necesario para mantener el LOGO en la parte inferior del banner */
}

header h1 {
    margin-block-start: -4em;
    /* -webkit-text-fill-color: rgb(246, 234, 10);
    -webkit-text-stroke: 0.01px rgb(255, 166, 0); */
    color: rgb(255, 242, 0);
    -webkit-text-stroke: 0.01px rgba(255, 166, 0, 0.7);
    text-shadow: 0.01px 0px rgb(255, 166, 0);
    font-size: 30px;
}

header #logo {
    width: 100px;
    position: absolute; /*L22 necesario para mantener el LOGO en la parte inferior del banner*/
    right: 20px;
    bottom: -43px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 75vh;

    /* justify-content: center; */
    /* padding: 10px; */
    /* flex-wrap: wrap; */
}
main .container{
    display: flex;
}

.menu {
    /* width: 15%; */
    background-color: rgb(0, 3, 60);
    padding: 1rem;
    text-align: center;
}
/*dejo 5% vacio para que el texto no se vea hasta el final del contenedor */
.info {
    /* width: 80%; */
    /* background-color: aliceblue;
    border: 3px solid rgba(218, 165, 32, 0.355); */
    /* padding: 5px; */
    margin: 15px;
}

.menu nav a {
    display: block;
    margin-bottom: 2rem;
    color: aliceblue;
    text-decoration: none; /*para eliminar el subrayado de los enlaces */
}

h2 {
    background-color: black;
    color: aliceblue;
    padding: 5px;
    text-align: center;

    /* width: 100%; */
    /* margin-top: 2px; */
    /* margin-bottom: 2px; */
}

h4 {
    margin-bottom: 5px;
    padding-left: 15px;
}

h3{
    text-align: center;
    font-size: 20px;
}

p {
    margin-bottom: 10px;
    padding-left: 15px;
}

table {
    height: 50vh;
    width: 100%;
}

table, th, td {
    /* border: 1px solid; */
    text-align: center;
    color: darkblue;
}

th{
    background-color: darkblue;
    color: aliceblue;
}

td:hover{
    background-color: darkblue;
    /* color: aliceblue; */
    color: rgb(255, 242, 0);
}

tr:nth-child(odd){
    background-color: lightcyan;
    /* color: darkblue; */
}

.info .title{
    text-align: center;
}

dt, dd{
    margin: 20px;
}
dd {
    margin-left: 30px;
}

ul{
    list-style: circle;
    margin-left: 20px;
}

/* ******************* FORMULARIO ******************/

form {
    /* background-color: aliceblue; */
    padding: 10px;
    border-radius: 10px;
}

form fieldset {
    border: 1px solid darkblue;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

form span{
    display: block;
}

form legend {
    font-weight: bold;
}

form label{/*con display inblocks podia asimiliarlo al draft pero los casilleros quedan cortos*/
    /* display: inline-block; */
    display: flex;
    margin-bottom: 5px;
    flex-wrap: wrap;
    align-items: baseline;
}

form input[type="text"],
form input[type="date"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

form input[type="radio"],
form input[type="checkbox"] {
    /* margin-top: 5px;
    margin-right: 5px; */
    margin: 5px;
}

form p{
    margin-bottom: 20px;
    padding-left: 0;
}

form button {
    background-color: rgb(54, 97, 214);
    color: aliceblue;
    width: 100%;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: rgb(0, 3, 60);
}

footer{
    min-height: 5vh;
    background-color: rgb(0, 3, 60);
    color: aliceblue;
    display: flex;
    justify-content: center;
}

/**************************************/
/***********MEDIA QUERIES 425************************/
@media (max-width: 500px) {
    header {
        flex-direction: column;
        text-align: center;
        height: 150px;
    }

    header h1 {
        margin-block-start: 0.1em;
        font-size: 20px;
    }

    header #logo {
        width: 70px; /* Reducción del tamaño del logo */
        /* position: absolute; */
        /* right: 30px; */
        bottom: 0px; /* Ajuste para la nueva altura del logo */
        background-color: rgba(0, 0, 0, 0.575);
        border-radius: 30%;
        /* display: flex; */
    }

    .menu {
        /* width: 15%;
        padding: 5px;
        text-align: center; */
        /* background-color: aliceblue; */
        width: 100%;

        margin-top: 1px;
    }

    .menu nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1px 0;
        flex-direction: row;
    }

    .menu nav a {
        margin: 2px;
        padding: 2px 5px;
        /* background-color: darkblue; */
        background-color: aliceblue;
        color: blue;
        border-radius: 10px;
    }

    main {
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
        /* padding: 10px; */
        /* flex-wrap: wrap; */
    }
    main .container{
        /* min-height: 60vh; */
        /* display: flex; */
        flex-direction: column;
    }

    form button {
        width: 100%;
    }
}